@charset "UTF-8";

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #888;
  padding: 20px 70px;
}

nav ul li {
  font-size: 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

#top {
  height:600px;
  background: url(../img/top.png) no-repeat center;
  background-size: cover
}

.top_wrap h1 {
  font-size: 30px;
  color:#fff;
  background-color: #007;
  padding:20px 40px;
  float: right;
  margin: 275px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#service {
  width: 80%;
  margin: 100px auto;
}

.section_title {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.service_wrap {
  display: flex;
  align-items:center;
  justify-content: center;
}

.service_left img {
  width: 80%;
  height: auto;
}

.service_right h3 {
  color:gold;
  font-size:20px;
  padding:20px  0;
}

.service_right p {
font-size: 15px;
color:#555;
}

#news {
  width:80%;
  margin: 100px auto;
}

.news_wrap {
  max-width: 450px;
  margin: 0 auto;
}

.news_wrap p{
  line-height: 2.5;
}

#price {
  width: 80%;
  margin: 100px auto;
}

.price_wrap table {
  border: double red 10px;
  width: 100%;
  text-align: center;
}

.price_wrap table tr {
  border: solid red 2px;
  padding: 10px;
}

.price_wrap table th {
  border: solid red 2px;
  padding: 10px;
}

.price_wrap table td {
  border: solid red 2px;
  padding:10px;
}

#contact {
  background: rgb(241, 241, 241);
}

#contact h2 {
  padding: 40px 0;
}

.form {
  width: 70%;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 30%;
  line-height: 2;
}

input,
textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width:65%;
  margin-bottom: 15px;
}

input {
  padding: 6px;
}

textarea {
  vertical-align: top;
  height: 200px;
}

.button_submit {
  text-align: center;
}

.button {
  padding: 10px 50px;
  background-color: #555;
  margin: 50px 0;
  font-weight: bold;
  border: none;
  color: #fff;
}

#footer {
  background-color:mediumaquamarine;
  padding: 50px;
  text-align: center;
  color: #fff;
}